<div class="body">
    <div class="center"><img src="image/bank.png"></div>
    <div class="money">
        <div class="card-deck mb-3 text-center">
            <div class="money1">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{value.ccy}}</h4>
                    </div>
                    <div class="card-body">
                        <div><h6>buy:{{value.buy}}</h6></div>
                        <div><h6>sale:{{value.sale}}</h6></div>
                    </div>
                </div>
            </div>
            <div class="money2">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{value1.ccy}}</h4>
                    </div>
                    <div class="card-body">
                        <div><h6>buy:{{value1.buy}}</h6></div>
                        <div><h6>sale:{{value1.sale}}</h6></div>
                    </div>
                </div>
            </div>
            <div class="money3">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{value2.ccy}}</h4>
                    </div>
                    <div class="card-body">
                        <div><h6>buy:{{value2.buy}}</h6></div>
                        <div><h6>sale:{{value2.sale}}</h6></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>